/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/


/*********************************************Estilos generales**********************************/


/*body {
    font-family: 'Roboto', sans-serif !important;
    /*background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-image: url("../imagenes/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

*/


/********************************************************HEADER******************************************************/


/*.logo {
    display: inline-block;
    width: 20%;
    height: 20%;
    padding: 10px;
    margin: 5px;
    animation-duration: 3s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

*/


/********************************************************Inicio********************************/


/*.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.inicio img {
    height: 300px;
    width: 200px;
}*/


/*.inicio p {
    font-size: 40px;
}*/


/*.nav-menu {
    background: #F6F954;
    position: fixed;
    padding: 25px;
    top: 24px;
    right: 0;
    margin-right: 50px;
    border-radius: 15px;
}

*/


/*.nav-menu-porfolio li:hover {
    transform: translateY(-10px);
}*/


/*.nav-menu-servicios li:hover {
    transform: translateY(-10px);
}*/


/*.nav-menu li {
    display: inline-block;
    padding: 10px;
    margin-top: 1px;
    text-align: right;
    /*transition: 2s;
}

.nav-menu a {
    font-size: 20px;
    padding: 35px 0;
}
*/


/*se sacan los puntos de la lista*/


/*ul {
    list-style: none;
}

*/


/*items de la lista*/


/*a {
    text-align: center;
    text-decoration: none;
    color: #42413A;
    font-size: 30px;
    padding: 10px;
}
*/


/*efecto al pasar el mouse por los items de la lista*/


/*.nav-menu a:hover {
    color: white;
}
*/


/*.nav-menu li:hover {
    transform: translateY(-10px);
}*/


/*#descubre:hover {
    color: blanchedalmond;
}
*/


/*p {
    text-align: center;
    font-size: 20px;
}
*/


/*estilos de los titulos*/


/*.titulo {
    color: black;
    font-size: 30px;
    text-align: center;
}

*/


/*boton volver*/


/* .volver {
       display: inline-block;
       padding: 15px;
       margin-top: 20px;
       color: black;
       text-decoration: none;
       width: 80px;
       border-radius: 20px;
       background: #E9ECF4;
       font-size: 20px;
   }
  efecto boton volver*/


/*.volver:hover {
       color: #A0E7AE;
   }*/


/**************************************NUESTROS SERVICIOS***********************************/


/*.nav-menu-servicios {
    background: #F3C8F3;
    display: inline-block;
    position: fixed;
    padding: 25px;
    top: 24px;
    right: 10px;
    margin-right: 50px;
    border-radius: 15px;
}

.nav-menu-servicios li {
    display: inline-block;
    padding: 10px;
    margin-top: 1px;
    text-align: right;
    
}

.nav-menu-servicios a {
    font-size: 20px;
}

.nav-menu-servicios a:hover {
    color: white;
}

.serv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 30px;
}

.serv p {
    padding: 20px;
}

.serv img {
    height: 300px;
    width: 300px;
}

*/


/****************************************NUESTROS CLIENTES**************************************/


/*.nuestrosClientes {
    padding: 140px;
}

.nuestrosClientes img {
    padding: 10px;
    height: 10%;
    width: 10%;
    border-radius: 14px;
    transition: 2s;
}

.nuestrosClientes img:hover {
    transform: scale(2.1);
}
*/


/*estilo para el ID CLIENTES de porfolio*/


/*#clientes {
    padding: 150px;
    font-size: 50px;
    text-align: center;
}*/


/*********************************************SOBRE NOSOTROS**********************************/


/*.sobreNosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.sobreNosotros img {
    height: 300px;
    width: 200px;
}

.parrafo-sobreNosotros {
    display: inline-block;
    width: 45%;
    text-align: start;
}
*/


/********************************************PORFOLIO************************************/


/*.nav-menu-porfolio {
    background: #A1E8A6;
    display: inline-block;
    position: fixed;
    padding: 25px;
    top: 24px;
    right: 10px;
    margin-right: 50px;
    border-radius: 15px;
}

.nav-menu-porfolio li {
    display: inline-block;
    padding: 10px;
    margin-top: 1px;
    text-align: right;
    
}
*/


/*.nav-menu-porfolio a {
    font-size: 20px;
}

.nav-menu-porfolio a:hover {
    color: white;
}


.contenedorGaleria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 450px;
    padding: 45px;
    grid-gap: 20px;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    width: auto;
    height: 400px;
    border-radius: 12px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #0C0B0B;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 12px;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

*/


/* 
   
   .img:hover {
       transform: scale(1.2);
   }
   .galeria__titulo:hover {
       transform: scale(1.2);
   }
   
   .porfolio img {
       display: block;
       width: 100%;
       height: auto;
       border-radius: 14px;
   }*/


/**************************************************************************/


/*.porfolio p {
    font-size: 30px;
}
*/


/*****************************************************************************************/


/*.artiPeñon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    margin: 40px;
}

.artiNancy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 40px;
}

.artiHuk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.artiRecreo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 40px;
}

.artiNatalia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 40px;
}

.artiLecof {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 40px;
}

.artiChery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 40px;
}

.artiEliza {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 40px;
}

*/


/**********************************************CONTACTO************************************************/


/*.nav-menu-contacto {
    background: #7D8FD1;
    display: flex;
    position: fixed;
    padding: 25px;
    top: 24px;
    right: 0;
    margin-right: 50px;
    border-radius: 15px;
}

.nav-menu-contacto li {
    display: flex;
    padding: 10px;
    margin-top: 1px;
    text-align: right;
    
}

*/


/* .nav-menu-contacto li:hover {
       transform: translateY(-10px);
   }*/


/*.boton {
       margin: 20px;
       padding: 10px;
   }*/


/*.parrafoContacto {
       border: 1px solid;
       border-radius: 13px;
   }*/


/*.nav-menu-contacto a {
    font-size: 20px;
}*/


/*.dropdown-menu a {
    font-size: 15px;
}

.containerContacto {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.contenedor {
    padding: 40px;
    border: solid 1px;
    border-radius: 10px;
}


/*.contacto {
    padding-left: 100px;
    padding-bottom: 80px;
    align-items: center;
    margin: 10px;
}

.contacto img {
    height: 400px;
    width: 400px;
}
*/


/*.nav-menu-contacto a:hover {
    color: white;
    text-decoration: none;
}*/


/*.form-group {
    padding: 5px;
}

.form-group label {
    margin: 2px;
}

.dropdown-toggle {
    margin: 20px;
}

textarea {
    background-color: #96DEAB;
}

.btn {
    margin-bottom: 20px;
}
*/


/************************************FOOTER***********************************************************/


/*del pie de pagina*/


/*.nav-footer li {
    display: inline-block;
    transition: 2s;
}

.nav-footer a {
    padding: 20;
    margin: 10px;
    font-size: 14px;
    color: black;
}


/*footer img {
    height: 200px;
    width: 200px;
}

footer {
    padding: 50px;
    margin: 50px;
}
*/


/*redes sociales estilos texto*/


/*#whatsapp,
#instagram,
#facebook {
    font-size: 10px;
    color: #42413A;
}

#whatsapp:hover {
    color: white;
}

#instagram:hover {
    color: white;
}

#facebook:hover {
    color: white;
}


/*contenido de redes centrado*/


/*.redes {
    text-align: center;
}

*/


/*estilo de firma pie de pagina*/


/*.firma {
    padding: 20px;
    font-size: 20px;
}

.firma2 {
    font-size: 15px;
}

.firma2:hover {
    color: white;
}*/